@font-face {
  font-family: myFont;
  src: url("../assets/Gerbil.otf");
}

.ClientProject {
  width: 90%;
  margin: 3vw 4vw;
}

.ClientProject .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vw;
  margin-left: 3vw;
}

.ClientProject .heading .headText {
  font-size: 10vw;
  font-weight: 600;
  color: #9795956c;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.ClientProject .heading .photo {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
}

.ClientProject .projectCard {
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: 100%;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-bottom: 5vw;
}

.projectCard .left {
  width: 100%;
  z-index: 999;
  margin-bottom: 3vw;
}

.projectCard .left .projectHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 4vw;
}

.projectCard .left .projectHead .projectName h4 {
  font-size: 1.2vw;
  font-weight: bold;
}

.projectCard .left .projectHead .projectName h2 {
  font-size: 2.7vw;
  font-weight: bold;
  color: blueviolet;
  font-family: myFont;
}

.projectCard .left .projectHead .projectNo {
  font-size: 5vw;
  font-weight: bold;
  color: rgba(145, 143, 147, 0.481);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.projectCard .left .Box {
  background-image: linear-gradient(
    to right,
    rgba(148, 31, 244, 0.685),
    rgb(93, 3, 134)
  );
  width: 110%;
  border-radius: 10px;
  padding: 1.3vw 2vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projectCard .left .Box h4 {
  color: white;
}

.projectCard .left .projectDetail {
  padding: 1.5vw;
  display: flex;
}

.projectCard .left .projectDetail .feature_1_2 {
  width: 100%;
  color: rgba(68, 68, 68, 0.878);
}

.projectCard .left .projectDetail .feature_1_2 .H1 {
  font-size: 1.3vw;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.projectCard .left .projectDetail .feature_1_2 .H1 .border {
  width: 3vw;
  height: 0.3vw;
  background-color: #d158f2;
}

.projectCard .left .projectDetail .feature_3_4 {
  width: 100%;
  color: rgba(68, 68, 68, 0.878);
}

.projectCard .left .projectDetail .feature_3_4 .H1 {
  font-size: 1.3vw;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.projectCard .left .projectDetail .feature_3_4 .H1 .border {
  width: 3vw;
  height: 0.3vw;
  background-color: #d158f2;
}

.projectCard .left .technology {
  padding-left: 1.5vw;
  display: flex;
  gap: 1vw;
}

.projectCard .left .technology img {
  width: 6vw;
  height: 1.5vw;
}

.projectCard .left .tech_live {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectCard .left .tech_live .technology {
  padding-left: 1.5vw;
  display: flex;
  gap: 1vw;
}

.projectCard .left .tech_live .technology img {
  width: 6vw;
  height: 1.5vw;
}

.projectCard .left .tech_live .liveLink {
  text-decoration: none;
}

.projectCard .left .tech_live .liveLink .liveButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: rgb(94, 240, 165);
  transition: 0.3s ease-in-out;
}

.projectCard .left .tech_live .liveLink .liveButton h2 {
  font-size: 3.5vw;
  font-weight: bold;
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in-out;
}

.projectCard .left .tech_live .liveLink .liveButton img {
  width: 4.5vw;
  height: 4.5vw;
  /* filter: brightness(200); */
  transition: 0.3s ease-in-out;
}

.projectCard .left .tech_live .liveLink .liveButton:hover {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(165, 31, 237);
}

.projectCard .left .tech_live .liveLink .liveButton:hover h2 {
  font-size: 3.5vw;
  font-weight: bold;
  color: rgb(165, 31, 237);
}

.projectCard .left .tech_live .liveLink .liveButton:hover img {
  transform: rotate(45deg);
  filter: none;
}

.projectCard .right {
}

.projectCard .right .imgDiv {
  width: 95%;
  border-radius: 1.4vw;
  position: relative;
  background: linear-gradient(to top, #9f9e9e, transparent 10%),
    linear-gradient(to bottom, #9f9e9e, transparent 10%),
    linear-gradient(to left, #9f9e9e, transparent 10%),
    linear-gradient(to right, #ccc, transparent 10%);
}

.projectCard .right .imgDiv .IMG {
  border-radius: 1.4vw;
  transition: 0.3s ease-in-out;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}

.projectCard .right .imgDiv:hover .IMG {
  opacity: 0.3;
}

.projectCard .right .imgDiv .text {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.projectCard .right .imgDiv:hover .text {
  opacity: 1;
}

.projectCard .right .imgDiv .text a {
  padding: 5px 8px;
  font-size: 1vw;
  font-weight: bold;
  color: #ffffff;
  border-radius: 1.2vw;
  background-color: #d158f2;
  cursor: pointer;
  text-decoration: none;
}


@media only screen and (max-width: 1200px) {
  .ClientProject {
    width: 95%;
    margin: 3vw 0vw;
  }

  .ClientProject .projectCard {
    display: flex;
    justify-content: space-between;
    align-items: top;
    width: 105%;
  }

  .projectCard .right .imgDiv {
    width: 85%;
  }
}

@media only screen and (max-width: 992px) {
  .projectCard .left .projectHead {
    margin-right: 2vw;
  }
  
  .projectCard .left .projectHead .projectName h4 {
    font-size: 1.8vw;
  }
  
  .projectCard .left .projectHead .projectName h2 {
    font-size: 3.7vw;
  }
  
  .projectCard .left .projectHead .projectNo {
    font-size: 5.7vw;
  } 

  .projectCard .left .projectDetail .feature_1_2 .H1 {
    font-size: 1.7vw;
  }

  .projectCard .left .projectDetail .feature_3_4 .H1 {
    font-size: 1.7vw;
  }

  .projectCard .left .technology img {
    width: 7vw;
    height: 2vw;
  }

  .projectCard .left .tech_live .technology img {
    width: 7vw;
    height: 2vw;
  }
}

@media screen and (max-width: 768px) {
  .ClientProject .heading .headText {
    font-size: 12vw;
    font-weight: 600;
  }
  
  .ClientProject .heading .photo {
    width: 9vw;
    height: 9vw;
  }

  .ClientProject {
    width: 90%;
    margin: 3vw 2vw;
  }
  
  .ClientProject .projectCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: top;
    width: 100%;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 5vw;
  }
  
  .projectCard .left .projectHead .projectName h4 {
    font-size: 2.3vw;
  }
  
  .projectCard .left .projectHead .projectName h2 {
    font-size: 4.5vw;
  }
  
  .projectCard .left .projectHead .projectNo {
    font-size: 6.4vw;
  } 

  .projectCard .left .Box {
    width: 100%;
  }

  .projectCard .left .projectDetail {
    padding: 2vw;
    display: flex;
  }

  .projectCard .left .projectDetail .feature_1_2 .H1 {
    font-size: 2.5vw;
  }
  
  .projectCard .left .projectDetail .feature_3_4 .H1 {
    font-size: 2.5vw;
  }
  
  .projectCard .left .projectDetail .feature_1_2 .H1 .border {
    width: 4vw;
    height: 0.6vw;
  }

  .projectCard .left .projectDetail .feature_3_4 .H1 .border {
    width: 4vw;
    height: 0.6vw;
  }

  .projectCard .left .technology {
    padding-bottom: 1.5vw;
    display: flex;
    gap: 2vw;
  }

  .projectCard .left .technology img {
    width: 10vw;
    height: 3vw;
  }

  .projectCard .left .tech_live .technology {
    padding-bottom: 1.5vw;
    display: flex;
    gap: 2vw;
  }

  .projectCard .left .tech_live .technology img {
    width: 10vw;
    height: 3vw;
  }

  .projectCard .right {
    margin-bottom: 8vw;
  }

  .projectCard .right .imgDiv {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .ClientProject .heading .headText {
    font-size: 12vw;
    font-weight: 600;
  }

  .projectCard .left .Box h4 {
    font-size: 2.8vw;
  }

  .projectCard .left .projectDetail {
    padding: 3vw;
    display: flex;
  }

  .projectCard .left .projectHead .projectName h4 {
    font-size: 2.8vw;
  }
  
  .projectCard .left .projectHead .projectName h2 {
    font-size: 5.5vw;
  }
  
  .projectCard .left .projectHead .projectNo {
    font-size: 7vw;
  } 

  .projectCard .left .projectDetail .feature_1_2 .H1 {
    font-size: 3vw;
  }
  
  .projectCard .left .projectDetail .feature_3_4 .H1 {
    font-size: 3vw;
  }

  .projectCard .left .projectDetail .feature_1_2 .H1 .border {
    width: 5vw;
    height: 0.8vw;
  }

  .projectCard .left .projectDetail .feature_3_4 .H1 .border {
    width: 5vw;
    height: 0.8vw;
  }

  .projectCard .left .technology {
    gap: 3vw;
  }

  .projectCard .left .technology img {
    width: 13vw;
    height: 4.5vw;
  }

  .projectCard .left .tech_live .technology {
    gap: 3vw;
  }

  .projectCard .left .tech_live .technology img {
    width: 13vw;
    height: 4.5vw;
  }

  .projectCard .right {
    margin-bottom: 10vw;
  }
}

/* Second card */

.ClientProject .projectCard2 {
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: 100%;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-bottom: 5vw;
}

.projectCard2 .left2 {
  width: 100%;
  z-index: 999;
}

.projectCard2 .left2 .projectHead2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2vw;
  text-align: right;
}

.projectCard2 .left2 .projectHead2 .projectName2 .h4 {
  font-size: 1.2vw;
  font-weight: bold;
}

.projectCard2 .left2 .projectHead2 .projectName2 .h2 {
  font-size: 2.7vw;
  font-weight: bold;
  color: blueviolet;
  font-family: myFont;
}

.projectCard2 .left2 .projectHead2 .projectNo2 {
  font-size: 5vw;
  font-weight: bold;
  color: rgba(145, 143, 147, 0.481);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.projectCard2 .left2 .Box2 {
  background-image: linear-gradient(
    to right,
    rgb(93, 3, 134),
    rgba(148, 31, 244, 0.685)
  );
  width: 110%;
  transform: translateX(-13%);
  border-radius: 10px;
  padding: 1.3vw 2vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projectCard2 .left2 .Box2 .h42 {
  color: white;
  text-align: right;
}

.projectCard2 .left2 .projectDetail2 {
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  padding-right: 4vw;
  display: flex;
  text-align: right;
}

.projectCard2 .left2 .projectDetail2 .feature_1_22 {
  width: 100%;
  color: rgba(68, 68, 68, 0.878);
}

.projectCard2 .left2 .projectDetail2 .feature_1_22 .h1 {
  font-size: 1.3vw;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.projectCard2 .left2 .projectDetail2 .feature_1_22 .h1 .border2 {
  border-bottom: 0.3vw solid #d158f2;
  width: 3vw;
  position: relative;
  left: 86%;
  /* transform: translateX(650%); */
}

.projectCard2 .left2 .projectDetail2 .feature_3_42 {
  width: 100%;
  color: rgba(68, 68, 68, 0.878);
}

.projectCard2 .left2 .projectDetail2 .feature_3_42 .h1 {
  font-size: 1.3vw;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.projectCard2 .left2 .projectDetail2 .feature_3_42 .h1 .border2 {
  border-bottom: 0.3vw solid #d158f2;
  width: 3vw;
  position: relative;
  left: 86%;
  /* transform: translateX(650%); */
}

.projectCard2 .left2 .technology2 {
  padding-right: 3.5vw;
  display: flex;
  justify-content: end;
  gap: 1vw;
}

.projectCard2 .left2 .technology2 img {
  width: 6vw;
  height: 1.5vw;
}

.projectCard2 .right2 .imgDiv2 {
  width: 95%;
  border-radius: 1.4vw;
  position: relative;
  background: linear-gradient(to top, #9f9e9e, transparent 10%),
    linear-gradient(to bottom, #9f9e9e, transparent 10%),
    linear-gradient(to left, #9f9e9e, transparent 10%),
    linear-gradient(to right, #ccc, transparent 10%);
}

.projectCard2 .right2 .imgDiv2 .IMG2 {
  border-radius: 1.4vw;
  transition: 0.3s ease-in-out;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}

.projectCard2 .right2 .imgDiv2:hover .IMG2 {
  opacity: 0.3;
}

.projectCard2 .right2 .imgDiv2 .text2 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.projectCard2 .right2 .imgDiv2:hover .text2 {
  opacity: 1;
}

.projectCard2 .right2 .imgDiv2 .text2 a {
  padding: 5px 8px;
  font-size: 1vw;
  font-weight: bold;
  color: #ffffff;
  border-radius: 1.2vw;
  background-color: #d158f2;
  cursor: pointer;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .projectCard2 .right2 .imgDiv2 {
    width: 85%;
  }

  .projectCard2 .left2 .Box2 {
    width: 120%;
    transform: translateX(-20%);
    border-radius: 10px;
    padding: 1.3vw 2vw;
  }
}

@media only screen and (max-width: 992px) {

  .projectCard2 .right2 .imgDiv2 {
    width: 85%;
    transform: translateX(2%);
  }

  .projectCard2 .left2 .Box2 {
    width: 120%;
    transform: translateX(-20%);
    border-radius: 10px;
    padding: 1.3vw 2vw;
  }

  .projectCard2 .left2 .projectHead2 .projectName2 .h4 {
    font-size: 1.9vw;
    font-weight: bolder;
  }
  
  .projectCard2 .left2 .projectHead2 .projectName2 .h2 {
    font-size: 3.8vw;
  }
  
  .projectCard2 .left2 .projectHead2 .projectNo2 {
    font-size: 5.9vw;
  }

  .projectCard2 .left2 .projectDetail2 {
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-right: 4vw;
  }

  .projectCard2 .left2 .projectDetail2 .feature_1_22 .h1 {
    font-size: 1.7vw;
  }

  .projectCard2 .left2 .projectDetail2 .feature_3_42 .h1 {
    font-size: 1.7vw;
  }

  .projectCard2 .left2 .technology2 {
    gap: 2vw;
  }
  
  .projectCard2 .left2 .technology2 img {
    width: 7vw;
    height: 2vw;
  }
}
